@page
@model FoodDelivery.Pages.Final.ReviewsModel
@{
    ViewData["Title"] = "Reviews";
}

<html>
    <head>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    </head>
    <body>
        <h4>@ViewData["Title"]</h4>
        <p>In this page you can leave <strong>reviews</strong> to your completed orders.</p>
        <partial name="_StatusMessage" model="Model.StatusMessage" />

        <form id="review-form" method="post">
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.OrderId"></label>
                    <select asp-for="Input.OrderId" asp-items="Model.OrderIds"></select>
                    <span asp-validation-for="Input.OrderId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Rating"></label>
                    <select asp-for="Input.Rating" asp-items="Model.Ratings"></select>
                    <span asp-validation-for="Input.Rating"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ReviewTitle"></label>
                    <input asp-for="Input.ReviewTitle" class="form-control" />
                    <span asp-validation-for="Input.ReviewTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ReviewText"></label>
                    <textarea asp-for="Input.ReviewText" class="form-control"></textarea>
                    <span asp-validation-for="Input.ReviewText" class="text-danger"></span>
                </div>
                <button id="update-restaurateur-button" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <hr />
        <h5>Your previous reviews</h5>
        <div id="jsGrid"></div>
    </body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <script>
        $(function () {
            const url = "/api/reviews?userId=@Model.UserId";

            let ajax = function (item, verb, json = true) {
                return $.ajax({
                    type: verb,
                    url: url,
                    data: json ? JSON.stringify(item) : item,
                    dataType: "json",
                    contentType: json ? "application/json" : "text/plain",
                });
            }

            $("#jsGrid").jsGrid({
                width: "100%",
                align: "center",

                paging: true,
                autoload: true,

                pageSize: 15,
                pageButtonCount: 5,

                controller: {
                    loadData: filter => ajax(filter, "GET", json = false)
                },

                fields: [
                    { name: "orderId", type: "number", title: "Order"},
                    { name: "date", type: "text", title: "Date", align: "center"},
                    { name: "restaurateurName", type: "text", title: "Restaurateur", align: "center"},
                    { name: "riderName", type: "text", title: "Rider", align: "center"},
                    { name: "rating", type: "select", title: "Rating", items: [
                        {"id":0,"name":""},
                        {"id":1,"name":"1 Star"},
                        {"id":2,"name":"2 Stars"},
                        {"id":3,"name":"3 Stars"},
                        {"id":4,"name":"4 Stars"},
                        {"id":5,"name":"5 Stars"}
                    ], valueField: "id", textField: "name" },
                    { name: "reviewTitle", type: "text", title: "Title", align: "center"},
                    { name: "reviewText", type: "textarea", title: "Review", align: "left"}
                ]
            });
        });
    </script>
}