@page
@model FoodDelivery.Pages.Restaurateur.ProductsModel
@{
    ViewData["Title"] = "Manage Products";
}

<html>
    <head>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    </head>
    <body>
        <h4>@ViewData["Title"]</h4>
        <p>In this page you can manage all your <strong>products</strong>.</p>
        <div id="jsGrid"></div>
    </body>
</html>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <script>
        $(function () {
            const url = "/api/products?userId=@Model.UserId";

            let ajax = function (item, verb, json = true) {
                return $.ajax({
                    type: verb,
                    url: url,
                    data: json ? JSON.stringify(item) : item,
                    dataType: "json",
                    contentType: json ? "application/json" : "text/plain",
                });
            }

            var DecimalField = function(config) {
                jsGrid.NumberField.call(this, config);
            };

            DecimalField.prototype = new jsGrid.NumberField({
                itemTemplate: function(value) {
                    return value.toFixed(2);
                },

                filterValue: function() {
                    return parseFloat(this.filterControl.val() || 0);
                },

                insertValue: function() {
                    return parseFloat(this.insertControl.val() || 0);
                },

                editValue: function() {
                    return parseFloat(this.editControl.val() || 0);
                }

            });

            jsGrid.fields.decimal = DecimalField;

            $("#jsGrid").jsGrid({
                width: "100%",
                align: "center",

                inserting: true,
                editing: true,
                paging: true,
                autoload: true,

                pageSize: 15,
                pageButtonCount: 5,

                deleteConfirm: "Do you really want to delete the item?",

                controller: {
                    loadData: filter => ajax(filter, "GET", json = false),
                    insertItem: item => ajax(item, "POST"),
                    updateItem: item => ajax(item, "PUT"),
                    deleteItem: item => ajax(item, "DELETE")
                },

                fields: [
                    { name: "id", type: "number", editing: false, inserting: false, visible: false},
                    { name: "name", type: "text", title: "Name", align: "center", validate: "required"},
                    { name: "price", type: "decimal", title: "Price (€)", align: "center", validate: "required"},
                    { name: "discount", type: "decimal", title: "Discount (€)", align: "center"},
                    //{ name: "picture", type: "text", title: "Picture", align: "center"},
                    { name: "categoryId", type: "select", title: "Category", items: @(Html.Raw(Json.Serialize(Model.Categories))), valueField: "id", textField: "name"},
                    { type: "control"}
                ]
            });
        });
    </script>

}