@page
@model FoodDelivery.Pages.Admin.OrdersModel
@{
    ViewData["Title"] = "Orders";
}

<html>
    <head>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    </head>
    <body>
        <h4>@ViewData["Title"]</h4>
        <p>In this page you can see all orders and filter them by <strong>status</strong>.</p>
        <div id="jsGrid"></div>
    </body>
</html>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <script>
        $(function () {
            const url = "/api/orders";

            let ajax = function (item, verb, json = true) {
                return $.ajax({
                    type: verb,
                    url: url,
                    data: json ? JSON.stringify(item) : item,
                    dataType: "json",
                    contentType: json ? "application/json" : "text/plain",
                });
            }

            $("#jsGrid").jsGrid({
                width: "100%",
                align: "center",

                paging: true,
                autoload: true,
                filtering: true,

                pageSize: 15,
                pageButtonCount: 5,

                controller: {
                    loadData: filter => ajax(filter, "GET", json = false)
                },

                fields: [
                    { name: "id", type: "number", title: "ID", align: "center", filtering: false},
                    { name: "date", type: "text", title: "Date", align: "center", filtering: false},
                    { name: "status", type: "select", title: "Status", items: [
                        {"id":0, "name":"Tutti"},
                        {"id":1, "name":"Carrello"},
                        {"id":2, "name":"Inserito"},
                        {"id":3, "name":"In carico"},
                        {"id":4, "name":"Consegnato"}
                    ], valueField: "id", textField: "name" },
                    { name: "userName", type: "text", title: "User", align: "center", filtering: false},
                    { name: "restaurateurName", type: "text", title: "Restaurateur", align: "center", filtering: false},
                    { name: "riderName", type: "text", title: "Rider", align: "center", filtering: false},
                    { type: "control", editButton: false, deleteButton: false}
                ]
            });
        });
    </script>
}