@page
@model FoodDelivery.Pages.Rider.DeliveredModel
@{
}

<p>Order @Model.OrderId has been marked as delivered.</p>

<p><a class="btn btn-primary" role="button" asp-page="/Rider/OpenOrders">Pick Up another Order</a></p>