@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
    <body style="background-image: url(/assets/images/bg.jpg); background-size: cover;">
        <div class="text-center" style="background-color:rgba(0, 0, 0, 0.7); border-radius: 25px; padding: 15px;">
            <h1 class="display-4" style="font-weight: 500; color: white;">Welcome on Food Delivery!</h1>
            @if (!(HttpContext.User.Identity.IsAuthenticated))
            {
                <p style="color:white"><a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a> or <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a> to place a new order.</p>
            }
        </div>
    </body>
</html>

